* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    /* background-color: rgba(0,0,0,0.2); */
    background-color: #c1c8bf;
    font-family: 'IBM Plex Mono', monospace;
}

main {
    /* margin: 0% 10%; */
    padding: 0% 4%;
    background-color: #c1c8bf;
    height: 100vh;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 2rem 0rem;
}

nav #logo {
    color: black;
    font-size: 4rem;
    font-family: 'Titan One', cursive;
}

label {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

/*New Movies List section*/
#movie-list {
    border: 2px solid grey;
    border-radius: 30px;
    width: 25rem;
    height: 70vh;
    padding: 1rem 2rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#movie-list ul {
    list-style: none;
    padding-top: 20px;
}

#movie-list ul li {
    font-size: 17px;
    cursor: pointer;
    transition: all 0.8s ease;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#movie-list ul li:hover {
    transform: scale(1.3);
    color: blue;
}

#movie-list label {
    display: block;
    text-align: center;
    -ms-text-size-adjust: auto;
}
