* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    /* background-color: rgba(0,0,0,0.2); */
    background-color: #c1c8bf;
    font-family: 'IBM Plex Mono', monospace;
}

main {
    /* margin: 0% 10%; */
    padding: 0% 4%;
    background-color: #c1c8bf;
    height: 100vh;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 2rem 0rem;
}

nav #logo {
    color: black;
    font-size: 4rem;
    font-family: 'Titan One', cursive;
}

label {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}
